@page
@model OreoRPS.Pages.GameModel
@{
    ViewData["Title"] = "Oreo | Rock Paper Scissors";
}

<div class="container" id="game-controls">
    <div class="row">
        <div class="col-12">
            <label>Name: </label>
            <input type="text" id="playerName" />
            <button id="setPlayerName">Set</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <button id="rock">Rock</button>
        </div>
        <div class="col-xs-4">
            <button id="paper">Paper</button>
        </div>
        <div class="col-xs-4">
            <button id="scissors">Scissors</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div id="scoreBoard"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        Chat
        <div class="col-2">Message</div>
        <div class="col-4">
            <input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/game.js"></script>
