@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="text-lg-center">Welcome to Oreo Rock Paper Scissors!</p>
        </div>
    </div>
</div>